name: Sync Repository to BitBucket

on:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  sync-to-bitbucket:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          fetch-depth: 0 # All History

      - name: Sync to BitBucket on push to main
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          git config user.email ${BITBUCKET_ACCESS_USER}
          git remote add bitbucket https://x-token-auth:${BITBUCKET_ACCESS_TOKEN}@bitbucket.org/safedep/vet-pipe.git
          git push bitbucket main
        env:
          BITBUCKET_ACCESS_USER: ${{ secrets.BITBUCKET_ACCESS_USER }}
          BITBUCKET_ACCESS_TOKEN: ${{ secrets.BITBUCKET_ACCESS_TOKEN }}

      - name: Sync tags to BitBucket
        if: github.event_name == 'release'
        run: |
          git config user.email ${BITBUCKET_ACCESS_USER}
          git remote add bitbucket https://x-token-auth:${BITBUCKET_ACCESS_TOKEN}@bitbucket.org/safedep/vet-pipe.git
          git push bitbucket ${{ github.ref_name }}
        env:
          BITBUCKET_ACCESS_USER: ${{ secrets.BITBUCKET_ACCESS_USER }}
          BITBUCKET_ACCESS_TOKEN: ${{ secrets.BITBUCKET_ACCESS_TOKEN }}
